<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
</head>

<body>
  {% include 'components/header.html' %}

  <main>
    <h1>Welcome to the 2084 Dashboard</h1>

    <div class="datalist" id="recent-activities">
      <h2>Recent Activities</h2>
      <ol>
        {% for sniff in sniffs %}
        <li>
          <h3>{{sniff.username}} {{sniff.website}}</h3>
          <h4>{{sniff.source_ip}} {{sniff.timestamp}}</h4>
        </li>
        {% endfor %}
      </ol>
    </div>
  </main>

  {% include 'components/footer.html' %}
</body>

</html>
