* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  align-items: center;
}

main {
  padding: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.datalist {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

.datalist ol {
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}

.datalist ol li {
  background-color: #eee;
  padding: 8px;
  margin-bottom: 5px;
}

/* Header */

header {
  background-color: #9ab6c1;
  display: flex;
  color: white;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f0f0f0;
}

/* footer */

footer {
  background-color: #9ab6c1;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
